<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <!-- Navigation Links -->
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">About</a></li>
          <li><a href="#" class="text-white">Tech Journeys</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
          <li><a href="#" class="text-white">Tech Journeys</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
          <li><a href="#" class="text-white">Tech Journeys</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media Links -->
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white">Connect with Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" target="_blank" class="text-white">Twitter</a></li>
          <li><a href="#" target="_blank" class="text-white">LinkedIn</a></li>
          <li><a href="#" target="_blank" class="text-white">GitHub</a></li>
          <li><a href="#" target="_blank" class="text-white">LinkedIn</a></li>
          <li><a href="#" target="_blank" class="text-white">GitHub</a></li>
          <li><a href="#" target="_blank" class="text-white">LinkedIn</a></li>
          <li><a href="#" target="_blank" class="text-white">GitHub</a></li>
          <!-- Add more social media links as needed -->
        </ul>
      </div>

      <!-- Learning Resources -->
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white">Learning Resouces</h5>
        <ul class="list-unstyled">
          <li><a href="#" target="_blank" class="text-white">FreeCodeCamp</a></li>
          <li><a href="#" target="_blank" class="text-white">NetNinja</a></li>
          <li><a href="#" target="_blank" class="text-white">Web Dev Simplified</a></li>
          <li><a href="#" target="_blank" class="text-white">TestDriven.io</a></li>
          <li><a href="#" target="_blank" class="text-white">Geek for Geeks</a></li>
          <!-- Add more social media links as needed -->
        </ul>
      </div>

      <!-- Copyright Information -->
      <div class="col-lg-3">
        <h5 class="text-white">© DevDrive</h5>
        <p class="text-white">All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
